@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-blue-50;
}
.main{
    height: calc(100vh - 60px - 80px);
    overflow-y: auto;
}

.mainBorder{
    @apply border-blue-500;
}

.slide-fade-enter-active {
    transition: all 0.3s ease-out;
    transition-delay: .8s;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-leave-active{
    position: absolute;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}